/* Coolors Exported Palette - coolors.co/34f6f2-78e3fd-d1f5ff-eef8ff-7d53de */

/* RGB */
$color1: rgba(52, 246, 242, 1);
$color2: rgba(120, 227, 253, 1);
$color3: rgba(209, 245, 255, 1);
$color4: rgba(238, 248, 255, 1);
$color5: rgba(125, 83, 222, 1);

$size1: 5px;
$size2: 10px;
$size3: 15px;

$fontSize1: 12px;
$fontSize2: 18px;
$fontSize3: 24px;